body {
  background: black;
  color: #ddd;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}

a{
  color: #ddd;
  text-decoration: none;
  border-bottom: 1px dotted #ddd;

  &:hover,
  &.active{
      color: yellow;
      border-bottom: 1px solid yellow;
  }

}

ul{
  list-style: none;
}

li{
  display: inline;
  padding: 10px;
}
#app{
  width: 100%;
}

.button{
  fill: black;
  stroke: white;
}

.button.start{
  fill: green;
  stroke: white;
}
.button.stop{
  fill: red;
  stroke: white;
}

.buttonGroup:hover .button{
  stroke: yellow;
}
.buttonGroup:hover .buttonText{
  fill: yellow;
}

.buttonGroup{
  cursor: pointer;
}

text{
  stroke: none;
  fill: white;
  font-size: 14px;

}

.clock{

  border: none;
  background: black;
  width: 450px;
  height: 450px;
  fill: black;
  fill-opacity: 1;
  stroke:none;

  .background{
    stroke: white;
  }

  .center{
    fill: black;
  }

  .mark{
    stroke: none;
    fill: yellow;
  }

  .hourPointer,
  .minPointer,
  .secPointer{
    stroke: none;
    fill-opacity: 1;
  }

  .hourPointer{
    fill: white;
    stroke: black;
  }

  .minPointer{
    fill: white;
    stroke: black;
  }

  .secPointer{
    fill: red;
  }

}

// nixie styles
.chrono{

  border: 1px solid #ddd;
  width: 100%;
  height: 500px;
  stroke-width: 1px;

  .nixieBackground{
    stroke-width: 1px;
    stroke: none;
    stroke-opacity: 1;
  }

  .digit{
    fill: none;
    stroke-width: 1px;
    stroke:#777;
    stroke-opacity: 0.5;
  }

  .glowing{
    fill:none;
    stroke:#fac400;
    stroke-width:4;
    stroke-opacity: 1;
    // filter:url(#glowing);
  }

  .gridElement{
    fill:none;
    stroke:#aaa;
    stroke-width:0.2;
    stroke-opacity: 1;
  }

}
