body {
  background: cornsilk;
}

  svg{
    border: 1px solid red;
    background: black;
    width: 350px;
    height: 350px;
    fill: black;
    fill-opacity: 1;
    stroke:none;
    font-size: 10px;
  }

  svg text{
    stroke: none;
    fill: red;
  }

  svg rect{
    stroke: none;
    fill: white;
  }

  svg .background{
    stroke: white;
  }

  svg .center{
    fill: black;
  }

  svg .mark{
    stroke: none;
    fill: yellow;
  }

  svg .hourPointer,
  svg .minPointer,
  svg .secPointer{
    stroke: none;
    fill-opacity: 1;
  }

  svg .hourPointer{
    fill: white;
    stroke: black;
  }

  svg .minPointer{
    fill: white;
    stroke: black;
  }

  svg .secPointer{
    fill: red;
  }

  svg .buttons{
    stroke: green;
  }

  svg .button{
    fill: black;
    stroke: white;
  }

  svg .button.startStop{
    fill: green;
    stroke: white;
  }

  svg .button:hover{
    stroke: yellow;
    cursor: pointer;
  }
