body {
  background: cornsilk;
}

  svg{
    border: 1px solid red;
    background: black;
    width: 450px;
    height: 450px;
    fill: black;
    fill-opacity: 1;
    stroke:none;
    font-size: 14px;
    font-family: sans-serif;
  }

  svg text{
    stroke: none;
    fill: white;
  }

  svg rect{
    stroke: none;
    fill: white;
  }

  svg .background{
    stroke: white;
  }

  svg .center{
    fill: black;
  }

  svg .mark{
    stroke: none;
    fill: yellow;
  }

  svg .hourPointer,
  svg .minPointer,
  svg .secPointer{
    stroke: none;
    fill-opacity: 1;
  }

  svg .hourPointer{
    fill: white;
    stroke: black;
  }

  svg .minPointer{
    fill: white;
    stroke: black;
  }

  svg .secPointer{
    fill: red;
  }

  svg .button{
    fill: black;
    stroke: white;
  }

  svg .button.start{
    fill: green;
    stroke: white;
  }
  svg .button.stop{
    fill: red;
    stroke: white;
  }

  svg .buttonGroup:hover .button{
    stroke: yellow;
  }
  svg .buttonGroup:hover .buttonText{
    fill: yellow;
  }

  svg .buttonGroup{
    cursor: pointer;
  }
